In [4]:
print("Hello Wrold")
print("반가워")

Hello Wrold
반가워

In [1]:
import pandas as pd

print("Hello World!!")

df = pd.read_csv('example.csv')
df.head()

print(df.head())

Hello World!!
      name  age     city  score
0    Alice   23    Seoul     85
1      Bob   29    Busan     92
2  Charlie   31  Incheon     78
3    David   27    Daegu     88
4      Eva   25  Daejeon     95